<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>a0gxrWEgR83v8H2IDYUUOn+mFWAYCeuawC/WrG8nwVcseIk0Baz4zFyizGS9jmWeXKUIDqyF8WoOBMlx/XiczugDZVWrF1X9rz5bqPgleDCm5KmIqzMneQWMSCMmqUmdbfAP3NHy0iXr/TUafNhSSRs4azwBG8xGHJknjJErUCM=</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>kBBtVGDZi7KlFnObzBTlKoRhgha+E2BJPfSiP1Fi7keJlHPp6IkDjDqx9sCtirRStt8MgvL3gspxoJ3+UZulTALmrTl1fNT3gBFvbV+9OzldS7OYfiUn21AeEhZBCDXStgtNSItsYgefOF7Yr42TH3YX4qYTeXwGcxlPd4b58TdYO92jBqvtESKkohvowROxGDOvf9XDM5oEiqVIygO8hCwZ0mpxR6THgoAGCmSh5wbVP27SsqYkWDP0jhXI6ycbmrTlvs0PJT9x49zbCWv9xqVRSIPw/ufFyNj4K6Ek2ciJmS2Dtr3BlcOsUM1WWaNFqyrMwEUvkXxkmC1dColHQDIW38rU4cZYEoFh0TT+6oq6xxUC+hzCMDaGA2ZwKOOaM1+3PJt8wFjRjIbQVbpAS2Xo7Z9sBzgO</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings></configuration>