<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>TGrbkBlABGpMYvl9zPH6nDB1cSnPNCe2DoScAX0ENCiFZPIJeCeb2Vl9XNoesDkZ8/gapOUaGimdSs30hmf95XF6P3wJQENTecDacm8XUe4M3oNrysNZ32jczAz+AI69p1KNH20EXmSxIyZPP6fN2mBBrctu1/nkQd/FHNOZ+IU=</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>4VtnwJEl3o0xrCt4R07QaTnxBNucpqbwyNoJdvMrGL2FA4K9cxWqwWXNU4nbWCibKWXf0q6E4LxjOoLX7QsqiMMKBtG6b5AAc0PcSKXUv2cmf/5t4RF8J45phqHpgXPifj1+Tk7ug9pP2UaxKidifbklsMRVgTlU4nXy4Zx4AFtwalewo3qzValEKgdMyRi7R2gXlTjpb0VKlpNtiVxcOB/Pe/Ys3YbQXi8Hd23ibcYNXKm5ck+PJWtr7diQ1QFyZKnlARaltbMNogwJjQwwY1sp+yG1LWM+S2fivFVxtUICscNcqlTpSSc1FA5Mrx7oYkupOFAKrfjsJhuCTHJnCEZqL9xP/9IwS9SeSpL4mQrsndplSjJgNxgt2sa4PtS1QZ0oPovd07Gz2vqGzZRVwtOseCas/F3wrKJq7t0Gu/7PlCAXO5CxrBvTIleGSl8uesxGqaFuPkPs9BgDtzWdkEv4RYdROctQg6X1PZPzKO4f1/ORImFn5Uhy6KpUEWowXaOG/o2/Wa+9rmXq25qTZDYb53ctyk6NNFCJfQXZ13QuRL41AFq7ETP19cXPNv20KZN6Y81HJoNuYKadeNCfF+UorfHOidk2FmRmbkqrrPrDV726CqMQj1P/u1qO3T3Ma27GThdjxcy8AWhi9LGysPQke9ly1yM6yW9hNVYrbZpHez873ItK8Z3fg0+MAmz2zE2ZOzDYhlg1mC4soW6U0g==</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings></configuration>