@{
    ViewData["Title"] = "About";
}
<html>

<head>

</head>

<body>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <p>FORSIDE</p>
            </div>
            <div class="back">
                <p>BAGSIDE</p>
            </div>
        </div>
    </div>
</body>

</html>