@{
    ViewData["Title"] = "Contact";
}
<html>

<head>
    <script src="~/js/Konami.js"></script>
    <link href="~/css/animation.css" rel="stylesheet" /> 
</head>

<body>

    <div class="animate-header"><p>CSS</p></div>
    <div class="animate-header"><p>C#</p></div>
    <div class="animate-header"><p>Java</p></div>

</body>

</html>