@{
    ViewData["Title"] = "Home Page";
}

<html>

<head></head>

<body >
    <div class="test-bg">
        <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="nested-div">
                <h2>Dette er en test</h2>
                <p>Element 1</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="nested-div">
                <h2>Dette er en test</h2>
                <p>Element 2</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="nested-div">
                <h2>Dette er en test</h2>
                <p>Element 3</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="nested-div">
                <h2>Dette er en test</h2>
                <p>Element 4</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="nested-div">
                <h2>Dette er en test</h2>
                <p>Element 5</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="nested-div">
                <h2>Dette er en test</h2>
                <p>element 6</p>
            </div>
        </div>

    </div>


    <p>Hej</p>
    <p>Hej</p>
    <p>Hej</p>
    <p>Hej</p>
    <p>Hej</p>
</body>

</html>