<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLCryptoCurrency.Properties.Settings.cryptocurrencyConnectionString"
            connectionString="Data Source=LAPTOP-6HUM6MNH;Initial Catalog=cryptocurrency;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="CryptoCurrencyConnectionString" connectionString="Data Source=LAPTOP-6HUM6MNH;Initial Catalog=cryptocurrency;User ID=admin;Password=admin" providerName="System.Data.SqlClient" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>